@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}
	20%,
	60% {
		transform: rotate(-25deg);
	}
	40%,
	80% {
		transform: rotate(10deg);
	}
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
}

#canvas {
	border: 1px solid rgba(137, 43, 226, 0.322);
	background-image: url(./docs/assets/images/);
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 15px;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	background-image: url(./docs/assets/images/space.png);
	background-size: cover;
	background-repeat: no-repeat;
}

button {
	padding: 10px;
	background-color: rgba(138, 15, 209, 0.233);
	font: 20px monospace;
	color: aliceblue;
	border-radius: 15px;
	margin-top: 200px;
	margin-left: 20px;
}
